/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation styles */
nav {
    background-color: #8f2883;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

nav ul a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    color: #00eeff;
}
 nav a:hover{
    background: #00eeff;
    color: red;
 }

/* Dropdown styles */
.myfile,
.sp {
    position: relative;
    display: inline-block;
}

.myfile button,
.sp button {
    border: none;
    color: #00eeff;
    background-color: #8f2883;
    text-align: center;
    padding: 0;
    cursor: pointer;
}

.myfile .content,
.sp .content {
    display: none;
    position: absolute;
    background-color: #eb1a40;
    min-width: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; /* Position the dropdown below the button */
    left: 0;
}

.myfile:hover .content,
.sp:hover .content {
    display: block;
}

.myfile a,
.sp a {
    color: #00eeff;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
}

.myfile a:hover,
.sp a:hover {
    background-color: #8f2883;
}

.myfile:hover button,
.sp:hover button {
    background-color: orange;
}

/* Section styles */
.text{
    padding: 0px;
    font-family: 'Siemreap';
    font-size: 1.4rem;
    border: 1px solid red;
    border-radius: 10px;
}

.text h4 {
    color: #8f2883;
}

/* Search bar and button styles */
#searchBar {
    padding: 10px;
    font-size: 16px;
}

#searchButton {
    padding: 10px;
    font-size: 16px;
    background-color: #8f2883;
    color: #fff;
    border: none;
    cursor: pointer;
}
#searchButton:hover{
    color: red;
    background-color: orange;
}

#searchResults {
    margin-top: 20px;
}

/* Button styles in the section */
.text button {
    margin-top: 10px;
    padding: 10px;
    background-color: #8f2883;
    border: 1px solid #4CAF50;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}
.text button:hover{
    background-color: orange;
}


/* Responsive styles */
@media only screen and (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: space-between;
    }

    nav ul li {
        float: none;
        margin: 0 10px;
    }

    .myfile,
    .sp {
        display: inline-block;
    }

    .myfile button,
    .sp button {
        padding: 15px;
    }

    .myfile a,
    .sp a {
        padding: 15px;
    }

    .text {
        padding: 20px;
    }

    /* Add more styles for larger screens as needed */
}
