/* Common styles for all screen sizes */
.navbar {
  overflow: hidden;
  background-color: rgb(3, 255, 40);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: rgb(237, 14, 181);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb();
}

.show {
  display: block;
}

.text {
  border-radius: 20px;
  border-style: outset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text h4,
.text pre {
  text-align: center;
  font-size: "Siemreap";
  color: pink;
  word-wrap: break-word;
}

.text pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 10px; /* Add padding to enhance the appearance */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .navbar a, .dropdown .dropbtn {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
  }

  .dropdown-content {
    position: static;
    display: none;
    overflow: hidden;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    width: 100%;
  }
}
