body{
background-color: pink;
margin : 0;
padding: 0;
}
nav  {
    background-color: blueviolet;
    overflow:  hidden;
}
nav li {
    list-style-type: none;
}
nav a {
    float: left;
    display: block;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #fcba03;
    color:  #0328fc;
}
.taobao{
    border-style: outset;
    border-radius: 25px;
}
.taobao pre{
    white-space: pre-wrap;
    color: red;
    font-size: 1rem;
    font-family : 'Noto Serif SC';
}
.tb1{
    width: 160px;
    height: 10%;
     margin-right: 5%;
}
.tb2{
    width: 165px;
    height: 10%;
}
.pdd1{
    border-style: dashed;
    border-color: red;
    border-radius: 10px;
}
.pdd1 img{
        width: 400px;
        height: 5%;
}
.pdd1 pre{
    white-space: pre-wrap;
    font-size: 1rem;
    font-family : 'Noto Serif SC';
    color : red;
}
#tb1{
    color : grey;
    background-color: #fcba03;
    font-weight: bolder;
    border-radius: 10px;
    border-style: solid;
}
button{
    color : grey;
    background-color: orange;
    font-weight: bolder;
    border-radius: 10px;
    border-style: solid;
}