body {
  font-family: "Kantumruy Pro", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333333;
}

h1, h4 {
  text-align: center;
  color:  #3366ff;
}

pre {
  text-align: center;
  font-size: 10px;
  white-space: pre-wrap;
  margin: 10px;
}

img {
  max-width: 70%;
  height: auto;
}

.navbar {
  overflow: hidden;
  background-color: #3366ff;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color:  #6600cc;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Dropdown1 {
  text-align: center;
  margin: 10px;
}

.dropbutton {
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: #333;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content1 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content1 a:hover {
  background-color:  #cc00ff;
}

@media screen and (max-width: 600px) {
  .navbar a, .dropdown .dropbtn, .dropbutton {
      float: none;
      display: block;
      text-align: center;
      width: 100%;
      box-sizing: border-box;
  }
}
