/* Add this CSS for responsiveness */
body {
  font-family: 'Kantumruy Pro', 'Montserrat', 'Noto Serif SC', 'Siemreap', sans-serif;
}

/* Navbar styles */
.navbar a, .dropdown-content a {
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  display: block;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
}

.dropdown-content a:hover {
  background-color: #555;
}

/* Dropdown styles */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Dropdown1 styles */
.Dropdown1 {
  display: inline-block;
}

.dropbutton {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.Dropdown1:hover .dropdown-content1 {
  display: block;
}

/* Adjust styles for smaller screens */
@media only screen and (max-width: 600px) {
  .navbar a, .dropdown-content a, .dropbutton {
      display: block;
      width: 100%;
      text-align: left;
  }

  .navbar, .Dropdown1 {
      text-align: center;
  }
}
